.navBgColor {
  background-color: #05173a !important;
}
.navWhite {
 color: #fff !important;
}

.ftBold {
  font-weight: bold !important;
}

.ft20 {
  font-size: 20px !important;
}

.ft18 {
  font-size: 18px !important;
}

.ft14 {
  font-size: 14px !important;
}

.ft13 {
  font-size: 13px !important;
}

.ft12 {
  font-size: 12px !important;
}

.ft10 {
  font-size: 10px !important;
}

